/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*   custome style  */

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
  /* width: 100%; */
}
.container2 {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex */

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-30 {
  flex: 0 1 30%;
  /* border: 0.12rem solid black; */
}
.flex-40 {
  flex: 0 1 40%;
}

.flex-5 {
  flex: 0 1 5%;
  border: 0.12rem solid black;
}
.flex-10 {
  flex: 0 1 10%;
}
.flex-31 {
  flex: 0 1 31.5%;
}
.flex-23 {
  flex: 0 1 23%;
  /* border: 0.125rem solid black; */
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/* button */

.btn {
  font-size: 1.125rem;
  padding: 0.8rem 1rem;
  text-align: center;
  display: inline-block;
  flex: 0 1 16%;
}
.header-btn {
  color: white;
}

/* header */

.header {
  padding: 1.5rem;
  background-color: rgb(9, 45, 91);
}
.address a {
  color: whitesmoke;
}
.header-span {
  padding-left: 0.5rem;
  color: white;
}
.mail {
  margin-left: 5rem;
  color: white;
}
.fas {
  color: white;
}
.fab {
  color: white;
  margin-left: 2rem;
}
.lower-header {
  margin: 1rem auto;
}
.header-logo {
  flex: 0 1 40%;
}
.nav-link {
  flex: 0 1 40%;
}
.btn {
  flex: 0 1 10%;
  background-color: rgb(228, 93, 107);
  font-size: 16px;
  padding: 0.5rem 1rem;
  color: white;
  /* width: 80%; */
}
.header-btn {
  background-color: rgb(228, 93, 107);
  padding: 0.5rem 1.5rem;
}

.second-btn {
  border: 0.12rem solid red;
  padding: 1rem 2.5rem;
  border-radius: 6px;
}

.list a {
  color: rgb(9, 45, 91);
  font-weight: 500;
}
/*   main start  */

.hero-section {
  background: url(./assests/about/contact_hero.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 400px;
}
.contact-h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
  margin-top: 6rem;
}

/*  section form */

.section-map {
  padding: 5rem 0;
}
.map-h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
}
.form {
  margin-top: 1rem;
}
textarea {
  color: rgb(188, 188, 188);
}
.form-box {
  width: 47%;
  margin-right: 21px;
  height: 3rem;
  color: rgb(188, 188, 188);
}
.form-box1 {
  width: 98%;
  /* margin-right: 21px; */
  height: 3rem;
  color: rgb(188, 188, 188);
  padding-right: 1rem;
}
.form-btn2 {
  margin-top: 3em;
  padding: 1.5rem 3rem;
  background-color: white;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
}
.form-btn2 a {
  color: rgb(228, 93, 107);
}
/* footer start */

.footer {
  padding: 3.5rem 0;
  background-color: rgb(9, 45, 91);
}
.footer-h2 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  color: whitesmoke;
}
.footer-p {
  color: whitesmoke;
  font-size: 12px;
  line-height: 2;
  margin-top: 1rem;
}
.form-data {
  width: 35%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.form-data2 {
  width: 45%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.btn {
  padding: 0.5rem 4rem;
}
.form-btn2 {
  color: white;
}
.second-footer {
  padding: 5rem 0;
}
.second-footer-p {
  margin-top: 1.5rem;
  color: rgb(124, 139, 155);
  font-size: 12px;
}
.footer-nav li {
  margin: 2rem 0.5rem;
}
.far {
  color: rgb(57, 68, 80);
}
.second-footer-h4 {
  font-size: 1.125rem;
  color: rgb(11, 92, 199);
  font-weight: 600;
  margin-bottom: 1rem;
  /* text-align: center; */
}
.second-footer-nav {
  /* text-align: center; */
  font-size: 16px;
}
.second-footer-nav li {
  padding: 0.5rem 0;
}
.second-footer-nav a {
  color: rgb(124, 139, 155);
}
.address-p {
  /* text-align: center; */
  color: rgb(124, 139, 155);
  padding: 0.5rem 0;
}
/*  under-footer  */

.under-footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 12px;
  border-top: 0.125rem solid grey;
}
.under-footer-small {
  color: rgb(124, 139, 155);
}
.fa-heart {
  color: red;
}
.under-footer-span {
  color: red;
}
