/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*   custome style  */

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
  /* width: 100%; */
}

/* flex */

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-30 {
  flex: 0 1 30%;
  /* border: 0.12rem solid black; */
}
.flex-40 {
  flex: 0 1 40%;
}

.flex-5 {
  flex: 0 1 5%;
  border: 0.12rem solid black;
}
.flex-10 {
  flex: 0 1 10%;
}
.flex-31 {
  flex: 0 1 31.5%;
}
.flex-23 {
  flex: 0 1 23%;
  /* border: 0.125rem solid black; */
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/* button */

.btn {
  font-size: 1.125rem;
  padding: 0.8rem 1rem;
  text-align: center;
  display: inline-block;
  flex: 0 1 16%;
}
.herder-btn {
  flex: 0 1 16%;
}

/* header */

.header {
  padding: 1.5rem;
  background-color: rgb(9, 45, 91);
}
.fa-map-marker-alt {
  color: white;
}

.header-span {
  padding-left: 0.5rem;
  color: white;
}
.mail {
  margin-left: 5rem;
  color: white;
}
.fa-envelope {
  color: white;
}
.list a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}
.fab {
  color: white;
}
.lower-header {
  margin: 1rem auto;
}
.header-logo {
  flex: 0 1 40%;
}
.nav-link {
  flex: 0 1 40%;
}
.fab {
  color: white;
  margin-left: 2rem;
}
.active {
  color: red;
}
.btn {
  flex: 0 1 10%;
  background-color: rgb(228, 93, 107);
  font-size: 16px;
  padding: 0.5rem 1rem;
  color: white;
  /* width: 80%; */
}

.header-btn {
  background-color: rgb(228, 93, 107);
  padding: 0.5rem 1.5rem;
  /* color: white; */
}
.header-btn a {
  color: white;
}

.second-btn {
  border: 0.12rem solid red;
  padding: 1rem 2.5rem;
  border-radius: 6px;
}
.second-btn a {
  color: red;
}

.list a {
  color: rgb(9, 45, 91);
  font-weight: 500;
}

/* hero section */

.hero-section {
  background: url(./assests/about/h1_hero.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
}
.hero-article {
  /* border: 0.12rem solid black; */
  padding: 16rem 0 0 6rem;
}
.hero-article span {
  color: red;
}
.hero-article h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  color: rgb(9, 45, 91);
}
.btn2 {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
}
.btn2 a {
  color: white;
}

/* section two start  */

.section2 {
  background-color: rgb(246, 249, 254);
  padding: 5rem 0;
}
.image-box {
  flex: 0 1 32%;
}
.image-box img {
  width: 100%;
}
.image-box2 {
  flex: 0 1 29%;
  border: 0.18rem solid red;
}

.section2-article h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 2rem;
  margin-top: 2rem;
}
.hr {
  border-bottom: 6px solid red;
  margin-top: 20px;
  width: 30%;
  margin-right: 15rem;
}

.section2-article p {
  color: rgba(19, 18, 18, 0.267);
  padding: 2rem 0 2rem 2rem;
}
.section2-span a {
  padding-left: 2rem;
  color: rgb(70, 65, 65);
  font-size: 20px;
  font-weight: 500;
}
.section2-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.section2-p {
  color: rgb(168, 177, 188);
  width: 95%;
}

/* section team   start */

.section-3 {
  padding: 5rem 0;
}
.flex-60 img {
  height: 100%;
}
.flex-50 {
  /* border: 0.125rem solid black; */
  background-color: rgba(249, 249, 248, 0.733);
  height: 27rem;
}
.position {
  position: relative;
  top: 12rem;
  right: 12rem;
}
.section3-h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
}
.section3-p {
  color: rgb(173, 174, 175);
  width: 60%;
  margin: 2rem;
  font-size: 12px;
  line-height: 1.5;
}
.sec3-btn {
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 12px;
}

/* section  our service   */

.our-service {
  padding: 5rem;
}
.section4-h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  padding: 5rem 0;
  color: rgb(25, 29, 52);
}

.service-icon {
  text-align: center;
}

.service-icon a {
  font-size: 3rem;
  color: black;
}
.service-h3 {
  font-size: 1.125rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(25, 29, 52);
  margin-bottom: 1rem;
}
.service-p {
  width: 80%;
}

/*   section case  */

.case {
  padding: 5rem 0;
  background-color: rgb(245, 248, 255);
}
.case-article {
  padding: 2rem 0 2rem 2rem;
  background-color: rgb(245, 248, 255);
}

.section-case-h2 {
  font-size: 1.8rem;
  font-weight: 800;
}
.section-case-p {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(173, 174, 175);
  margin: 2rem 0;
  width: 90%;
}
.second-btn {
  background-color: rgb(248, 250, 254);
  color: red;
}

.case-overflow {
  overflow: auto;
  background-color: rgb(245, 248, 255);
}
.case-overflow::-webkit-scrollbar {
  display: none;
}
.case-img-box {
  display: inline-block;
  height: 356px;
  /* border: 1px solid black; */
  margin-left: 0.5rem;
}

/*   section five start */

.section5 {
  padding: 5rem 0;
}
.team {
  text-align: center;
  margin-top: 2rem;
}
.team-p1 {
  width: 52%;
  margin-left: 28rem;
  margin-top: 2rem;
  color: rgb(12, 13, 17);
  font-size: 1.5rem;
  word-spacing: 1.5px;
}
.team-p2 {
  margin-left: 36rem;
  color: rgb(28, 32, 54);
  font-size: 1.5rem;
}
.star {
  margin-left: 4px;
  margin-top: 1rem;
}

.fa-star {
  color: rgb(243, 185, 66);
}
.team-span {
  font-size: 14px;
  margin-top: 1rem;
  color: rgb(28, 32, 54);
}
.team-small {
  font-size: 10px;
  color: rgb(173, 174, 175);
  margin-top: 1rem;
}

/*   recent section start */

.recent-section {
  padding: 5rem 0;
}
.recent-section-h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.recent-image-box {
  margin: 4rem 0;
}
.recent-small {
  font-size: 10px;
  color: red;
  margin: 1rem 0 0 1rem;
  /* margin-bottom: 2rem; */
}
.recent-h4 {
  font-size: 1rem;
  font-family: 500;
  color: rgb(40, 41, 46);
  text-transform: capitalize;
  /* margin-top: 1rem; */
  margin: 1rem 0 0 1rem;
}
.recent-time {
  font-size: 10px;
  color: rgb(124, 139, 155);
  margin: 1rem 0 0 1rem;
}

/*   footer start */

.footer {
  padding: 3.5rem 0;
  background-color: rgb(9, 45, 91);
}
.footer-h2 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  color: whitesmoke;
}
.footer-p {
  color: whitesmoke;
  font-size: 12px;
  line-height: 2;
  margin-top: 1rem;
}
.form-data {
  width: 35%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.form-data2 {
  width: 45%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.btn {
  padding: 0.5rem 4rem;
}
.form-btn2 {
  color: white;
  border: none;
}
.second-footer {
  padding: 5rem 0;
}
.second-footer-p {
  margin-top: 1.5rem;
  color: rgb(124, 139, 155);
  font-size: 12px;
}
.footer-nav li {
  margin: 2rem 0.5rem;
}
.far {
  color: rgb(57, 68, 80);
}
.second-footer-h4 {
  font-size: 1.125rem;
  color: rgb(11, 92, 199);
  font-weight: 600;
  margin-bottom: 1rem;
}

.address-p {
  color: rgb(124, 139, 155);
  padding: 0.5rem 0;
}
.second-footer-nav li {
  padding: 0.5rem 0;
}
.second-footer-nav a {
  color: rgb(124, 139, 155);
}
/*  under-footer  */

.under-footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 12px;
  border-top: 0.125rem solid grey;
}
.under-footer-small {
  color: rgb(124, 139, 155);
}

.fa-heart {
  color: red;
}
.under-footer-span {
  color: red;
}
