/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*   custome style  */

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
  /* width: 100%; */
}
.container-2 {
  width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex */

.flex {
  display: flex;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-item {
  align-items: center;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-70 {
  flex: 0 1 70%;
  /* border: 2px solid black; */
}
.flex-25 {
  flex: 0 1 25%;
  /* border: 2px solid black; */
}

.flex-5 {
  flex: 0 1 5%;
  /* border: 0.12rem solid black; */
}
.flex-10 {
  flex: 0 1 10%;
}
.flex-31 {
  flex: 0 1 31.5%;
}
.flex-23 {
  flex: 0 1 23%;
  /* border: 0.125rem solid black; */
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/* button */

.btn {
  font-size: 1.125rem;
  padding: 0.8rem 1rem;
  text-align: center;
  display: inline-block;
  flex: 0 1 16%;
}
.herder-btn {
  flex: 0 1 16%;
}

/* header */

.header {
  padding: 1.5rem;
  background-color: rgb(9, 45, 91);
}
.fa-map-marker-alt {
  color: white;
}

.header-span {
  padding-left: 0.5rem;
  color: white;
}
.mail {
  margin-left: 5rem;
  color: white;
}
.fa-envelope {
  color: white;
}
.list a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}
.fab {
  color: white;
}
.lower-header {
  margin: 1rem auto;
}
.header-logo {
  flex: 0 1 40%;
}
.nav-link {
  flex: 0 1 40%;
}
.fab {
  color: white;
  margin-left: 2rem;
}

.btn {
  flex: 0 1 10%;
  background-color: rgb(228, 93, 107);
  font-size: 16px;
  padding: 0.5rem 1rem;
  color: white;
  /* width: 80%; */
}

.header-btn {
  background-color: rgb(228, 93, 107);
  padding: 0.5rem 1.5rem;
  /* color: white; */
}
.header-btn a {
  color: white;
}

.second-btn {
  border: 0.12rem solid red;
  padding: 1rem 2.5rem;
  border-radius: 6px;
}
.second-btn a {
  color: red;
}

.list a {
  color: rgb(9, 45, 91);
  font-weight: 500;
}

/* hero section */

.hero-section {
  background: url(./assests/about/h1_hero.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
}
.hero-article {
  /* border: 0.12rem solid black; */
  padding: 16rem 0 0 6rem;
}
.hero-article span {
  color: red;
}
.hero-article h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  color: rgb(9, 45, 91);
}
.btn2 {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
}
.btn2 a {
  color: white;
}

/* section two start  */

.section2 {
  background-color: rgb(246, 249, 254);
  padding: 5rem 0;
}
.image-box {
  flex: 0 1 32%;
}
.image-box img {
  width: 100%;
}
.image-box2 {
  flex: 0 1 29%;
  border: 0.18rem solid red;
}

.section2-article h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 2rem;
  margin-top: 2rem;
}
.hr {
  border-bottom: 6px solid red;
  margin-top: 20px;
  width: 30%;
  margin-right: 15rem;
}

.section2-article p {
  color: rgba(19, 18, 18, 0.267);
  padding: 2rem 0 2rem 2rem;
}
.section2-span a {
  padding-left: 2rem;
  color: rgb(70, 65, 65);
  font-size: 20px;
  font-weight: 500;
}
.section2-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.section2-p {
  color: rgb(168, 177, 188);
  width: 95%;
}

/* section team   start */

.section-3 {
  padding: 5rem 0;
}
.flex-60 img {
  height: 100%;
}
.flex-50 {
  /* border: 0.125rem solid black; */
  background-color: rgba(249, 249, 248, 0.733);
  height: 27rem;
}
.position {
  position: relative;
  top: 12rem;
  right: 12rem;
}
.section3-h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
}
.section3-p {
  color: rgb(173, 174, 175);
  width: 60%;
  margin: 2rem;
  font-size: 12px;
  line-height: 1.5;
}
.sec3-btn {
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 12px;
}

/* section  our service   */

.our-service {
  padding: 5rem;
}
.section4-h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  padding: 5rem 0;
  color: rgb(25, 29, 52);
}

.service-icon {
  text-align: center;
}

.service-icon a {
  font-size: 3rem;
  color: black;
}
.service-h3 {
  font-size: 1.125rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(25, 29, 52);
  margin-bottom: 1rem;
}
.service-p {
  width: 80%;
}

/*   section case  */

.case {
  padding: 5rem 0;
  background-color: rgb(245, 248, 255);
}
.case-article {
  padding: 2rem 0 2rem 2rem;
  background-color: rgb(245, 248, 255);
}

.section-case-h2 {
  font-size: 1.8rem;
  font-weight: 800;
}
.section-case-p {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(173, 174, 175);
  margin: 2rem 0;
  width: 90%;
}
.second-btn {
  background-color: rgb(248, 250, 254);
  color: red;
}

.case-overflow {
  overflow: auto;
  background-color: rgb(245, 248, 255);
}
.case-overflow::-webkit-scrollbar {
  display: none;
}
.case-img-box {
  display: inline-block;
  height: 356px;

  margin-left: 0.5rem;
}

/*   section five start */

.section5 {
  padding: 5rem 0;
}
.team {
  text-align: center;
  margin-top: 2rem;
}
.team-p1 {
  width: 52%;
  margin-left: 28rem;
  margin-top: 2rem;
  color: rgb(12, 13, 17);
  font-size: 1.5rem;
  word-spacing: 1.5px;
}
.team-p2 {
  margin-left: 36rem;
  color: rgb(28, 32, 54);
  font-size: 1.5rem;
}
.star {
  margin-left: 4px;
  margin-top: 1rem;
}

.fa-star {
  color: rgb(243, 185, 66);
}
.team-span {
  font-size: 14px;
  margin-top: 1rem;
  color: rgb(28, 32, 54);
}
.team-small {
  font-size: 10px;
  color: rgb(173, 174, 175);
  margin-top: 1rem;
}

/*   recent section start */

.recent-section {
  padding: 5rem 0;
}
.recent-section-h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.recent-image-box {
  margin: 4rem 0;
}
.recent-small {
  font-size: 10px;
  color: red;
  margin: 1rem 0 0 1rem;
  /* margin-bottom: 2rem; */
}
.recent-h4 {
  font-size: 1rem;
  font-family: 500;
  color: rgb(40, 41, 46);
  text-transform: capitalize;
  /* margin-top: 1rem; */
  margin: 1rem 0 0 1rem;
}
.recent-time {
  font-size: 10px;
  color: rgb(124, 139, 155);
  margin: 1rem 0 0 1rem;
}

/*   footer start */

.footer {
  padding: 3.5rem 0;
  background-color: rgb(9, 45, 91);
}
.footer-h2 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  color: whitesmoke;
}
.footer-p {
  color: whitesmoke;
  font-size: 12px;
  line-height: 2;
  margin-top: 1rem;
}
.form-data {
  width: 35%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.form-data2 {
  width: 45%;
  height: 2rem;
  background-color: rgb(9, 45, 91);
  color: white;
  font-size: 1.125rem;
  border: 0.125rem solid white;
  margin-right: 1.5rem;
}
.btn {
  padding: 0.5rem 4rem;
}
.form-btn2 {
  color: white;
  border: none;
}
.second-footer {
  padding: 5rem 0;
}
.second-footer-p {
  margin-top: 1.5rem;
  color: rgb(124, 139, 155);
  font-size: 12px;
}
.footer-nav li {
  margin: 2rem 0.5rem;
}
.far {
  color: rgb(57, 68, 80);
}
.second-footer-h4 {
  font-size: 1.125rem;
  color: rgb(11, 92, 199);
  font-weight: 600;
  margin-bottom: 1rem;
}

.address-p {
  color: rgb(124, 139, 155);
  padding: 0.5rem 0;
}
.second-footer-nav li {
  padding: 0.5rem 0;
}
.second-footer-nav a {
  color: rgb(124, 139, 155);
}
/*  under-footer  */

.under-footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 12px;
  border-top: 0.125rem solid grey;
}
.under-footer-small {
  color: rgb(124, 139, 155);
}

.fa-heart {
  color: red;
}
.under-footer-span {
  color: red;
}
/*  about page start */

.section {
  background: url(./assests/about/about_hero.jpg);

  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.section-h1 {
  /* border: 2px solid crimson; */
  font-size: 48px;
  color: whitesmoke;
  font-weight: 800;
}

/*  case  page start */

.section-case {
  background: url(./assests/about/cases_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.case-div {
  padding: 5rem 0 15rem 0;
}

.case-image {
  margin: 1.5rem 0;
}

.case-article1 {
  background-color: white;
  position: absolute;
  top: 66rem;
  width: 20%;
  /* padding-left: 2rem; */
}
.h3-case {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(97, 100, 116);
  margin: 0;
}
.p-case {
  color: rgb(99, 114, 129);
  font-size: 1.2rem;
  font-weight: 500;
}
.case-article2 {
  background-color: white;
  position: absolute;
  top: 104rem;
  /* left: 2rem; */
  width: 20%;
  padding: 2rem;
  /* padding-bottom: 4rem; */
}

/*  service page start  */

.service-section {
  background: url(./assests/about/services_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* contect page start  */

.contect-section {
  background: url(./assests/about/contact_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section-map {
  padding: 5rem 0;
}
.h3-map {
  font-size: 28px;
  font-weight: 500;
  color: rgb(90, 90, 90);
}
.div-form {
  margin-top: 1rem;
}
textarea {
  width: 100%;
  color: rgb(169, 169, 169);
  font-size: 18px;
}
.input-form {
  width: 48%;
  padding: 1rem 1rem;

  margin-right: 10px;
  margin: 2rem 0;
  margin-left: 0.6rem;

  color: rgb(169, 169, 169);
  font-size: 18px;
}
.input-form1 {
  width: 98%;
  padding: 1rem;

  color: rgb(169, 169, 169);
  font-size: 18px;
}
.form-btn {
  margin-top: 2rem;
  font-size: 18px;
}
.map-aside {
  margin: 2em 0;
}
.fa-house-damage {
  color: rgb(199, 200, 201);
  font-size: 1.8rem;
}
.fa-calendar-minus {
  color: rgb(199, 200, 201);
  font-size: 1.8rem;
}
.fa-envelope-square {
  color: rgb(199, 200, 201);
  font-size: 1.8rem;
}
.aside-h4 {
  font-size: 1.2rem;
}
.aside-p {
  color: rgb(199, 200, 201);
  font: 1.1rem;
}

/* Blog page start */

.section-blog {
  background: url(./assests/about/blog_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  margin: 3.5rem 0;
}
.section-blog2 {
  margin: 3.5rem 0;
}
.search-btn-div {
  background-color: rgb(251, 249, 255);
  height: 220px;
  padding: 1rem 0;
}
.search-btn {
  width: 70%;
  text-align: left;
  
  font-size: 20px;
  margin: 1rem 0;
  margin-left: 1rem;
  border: none;
  background-color: white;
  color: rgb(111, 125, 139);
}
.search-icon {
  background-color: rgb(228, 93, 107);
  padding: 1rem;
  font-size: 18px;
  margin: 1rem 0;
  border: none;
}
.fa-search {
  color: rgb(251, 249, 255);
}
.subscribe-btn {
  width: 88%;
  padding: 0.5rem 0;
  margin-left: 1rem;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(228, 93, 107);
  background-color: white;
  border: 0.12rem solid rgb(228, 93, 107);
}
.catogery-list {
  margin-top: 6rem;
  height: 450px;
  /* border: 0.12rem solid black; */
  background-color: rgb(251, 249, 255);
  /* margin-left: 2rem; */
}
.catogery-list-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(12, 13, 17);
  border-bottom: 0.11rem solid rgb(235, 231, 231);
  width: 90%;
  padding: 0.8rem 0;
  margin-left: 1rem;
}
.catogery-list-item {
  padding: 1rem 0;
  font-size: 1.15rem;
  color: rgb(111, 125, 139);
  border-bottom: 0.11rem solid rgb(230, 229, 229);
  width: 90%;
  margin-left: 1rem;
}
.article-blog {
  width: 5rem;
  height: 6rem;
  background-color: rgb(228, 93, 107);
  position: absolute;
  top: 62rem;
  left: 22.5rem;
}
.article-blog-h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}
.article-blog-h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(12, 13, 17);
}
.article-blog-p {
  font-size: 1.25rem;
  color: rgb(159, 159, 180);
  margin-bottom: 2rem;
}
.fa-user {
  padding: 0 0.5rem;
  color: rgb(153, 153, 153);
  font-size: 22px;
}
.fa-comments {
  padding: 0 0.5rem;
  color: rgb(153, 153, 153);
  font-size: 22px;
}
.artcle-blog-span {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  margin-right: 2rem;
}
.article-blog1 {
  width: 5rem;
  height: 6rem;
  background-color: rgb(228, 93, 107);
  position: absolute;
  top: 109rem;
  left: 22.5rem;
}
.article-blog1-h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}
.article-blog2 {
  width: 5rem;
  height: 6rem;
  background-color: rgb(228, 93, 107);
  position: absolute;
  top: 156rem;
  left: 22.5rem;
}
.article-blog2-h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}
.article-blog3 {
  width: 5rem;
  height: 6rem;
  background-color: rgb(228, 93, 107);
  position: absolute;
  top: 203rem;
  left: 22.5rem;
}
.article-blog3-h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.article-blog4 {
  width: 5rem;
  height: 6rem;
  background-color: rgb(228, 93, 107);
  position: absolute;
  top: 250rem;
  left: 22.5rem;
}
.article-blog4-h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}
.blog-image-h3 {
  font-size: 24px;
  margin-left: 1rem;
  font-weight: 500;

  color: rgb(12, 13, 17);
  border-bottom: 0.11rem solid rgb(235, 231, 231);
  width: 90%;
  padding: 0.8rem 0;
}
.blog-recent {
  height: 500px;
  background-color: rgb(251, 249, 255);
}
.blog-image {
  margin: 1rem 0;
}
.blog-image-h4 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(63, 61, 61);
}
.tag-clouds {
  margin-top: 4rem;
  height: 250px;
  background-color: rgb(251, 249, 255);
}
.tag-clouds-h3 {
  font-size: 24px;
  margin-left: 1rem;
  font-weight: 500;

  color: rgb(12, 13, 17);
  border-bottom: 0.11rem solid rgb(235, 231, 231);
  width: 90%;
  padding: 0.8rem 0;
}
.tag-clouds-box {
  /* border: 0.12rem solid black; */
  padding: 0.3rem 0.5rem;
  margin: 5px 0;
  margin-left: 1rem;
  background-color: white;
  color: rgb(155, 155, 155);
}
.instagram-box {
  height: 300px;
  background-color: rgb(251, 249, 255);
  margin: 2rem 0;
}
.instagram-h3 {
  font-size: 24px;
  margin-left: 1rem;
  font-weight: 500;

  color: rgb(12, 13, 17);
  border-bottom: 0.11rem solid rgb(235, 231, 231);
  width: 90%;
  padding: 0.8rem 0;
}
.instagram-image-box {
  padding: 0.15rem;
}
.newsletters-box {
  height: 250px;
  background-color: rgb(251, 249, 255);
  border: 0.12rem solid black;
}
.newssletters-h3 {
  font-size: 24px;
  margin-left: 1rem;
  font-weight: 500;

  color: rgb(12, 13, 17);
  border-bottom: 0.11rem solid rgb(235, 231, 231);
  width: 90%;
  padding: 0.8rem 0;
}
.search-btn2 {
  background-color: white;
  border: 0.12rem solid black;
  width: 88%;
  padding: 0.5rem 1rem;
}
